/* first section */
#ti{
  text-align: left;
  padding: 1% 5%;
  font-family: 'Quicksand', sans-serif;
  background-color: #f96d80;
  color: #fff;
}
.navbar-brand{
  font-weight: 600;
}
/* second section */
#second{
  font-family: 'Quicksand', sans-serif;
  padding: 5% 5%;
  text-align: left;
}
.d1{
  padding: 4% 0%;
}
.ill1{
  height: inherit;
  width: inherit;
}
.btn1{
  padding: 2% 0%;
}
/* third section */
#third{
  text-align: center;
  padding: 5% 5%;
  font-family: 'Quicksand', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.i2{
  position: relative;
  width: 60%;
  height: 60%;
}
.h1{
  font-weight: 600;
}
.d3{
  padding: 3% 0%;
}
/* fourth sections */
#fourth{
  text-align: center;
  padding: 5% 5%;
  font-family: 'Quicksand', sans-serif;
}
.pad{
  padding: 3% 0%;
}
.div1{
  padding: 2% 0%;
}
.div2{
  padding: 2% 0%;
}
#last{
  background-color: #f96d80;
  text-align: center;
  padding: 4%;
  color: #fff;
}
